body{
    margin: 10% 0 0 0;
    transition: 1s;
    background-color: white;
    font-family: "Lexend Deca", sans-serif;
    animation: bodySlide 1s ease-in;
    animation-delay: 2s;
}
@keyframes bodySlide {
    0% {margin: 10% 0 0 0;}
    50%{margin: 5% 0 0 0;}
    100% {margin: 0 0 0 0;}
}
#opacityContent{
    opacity: 0;
    transition: 1s;
}
#blok1{
    width: 100%;
    height: 100%;
}
#blok2{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 20%;
    color: white;
}
.liamIllustration{
    position: absolute;
    width: 29%;
    left: 55%;
    opacity: 0;
    top: 25%;
    z-index: -1;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: 500ms;
}
nav{
    display: inline-flex;
    width: 100%;
}
#navLeft{
    width: 50%;
    display: inline-flex;
}
.nameNav{
    margin-left: 30px;
    font-size: 24px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}
#navRight{
    width: 50%;
}
.link{
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    position: relative;
    float: right;
}
.linkNav{
    text-decoration: none;
    color: #848484;
    font-size: 20px;
    margin-right: 50px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    transition: 200ms;

}
.linkNav:hover{
    color: #212121;
    transition: 200ms;
}
#discoverButton{
    display: block;
}
#hamburger{
    display: none;
}
.rightSideText{
    margin-top: 10%;
}
.pageName{
    font-size: 48px;
    font-family: "Lexend Deca", sans-serif;
    width: 50%;
}
.category{
    font-size: 24px;
    font-weight: 400;
    color: #848484;
}
.logo{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#hamburgerMenu{
    text-align: center;
    opacity: 0;
    padding: 50px;
    transition: 500ms;
    display: none;
}
.contentHam{
    width: 100%;
    margin-top: 5%;
}
.linkHamburger{
    text-decoration: none;
    color: #2D2D2D;
    transition: 200ms;
}
.linkHamburger:hover{
    color: #000000;
    transition: 200ms;
}
#discover{
    color: #DA0037;
}

/*LOADING*/
/*LOADING*/
/*LOADING*/

#myDiv{
    opacity: 0;
    display: none;
    transition: 500ms;
}
#loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 500ms;
}
#logo{
    width: 100%;
}
.portImage{
    width: 75%;
    display: block;
}
.loading{
    width: 100%;
}
#anim{
    width: 50%;
    margin: 0 auto;
}

/*OBSAH*/
/*OBSAH*/
/*OBSAH*/

#uvod{
    width: 100%;
    color: white;
    display: block;
    background-color: #DA0037;
}

#popis{
    width: 100%;
    color: black;
    background: white;
    display: block;
}

.obsah{
    margin: 50px;
}

.funkceObsah{
    display: block;
    padding: 50px;
}
.info{
    display: block;
    padding: 50px;
}

.contacts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-top: 10%;
    margin-bottom: 10%;
}
.blokProfile{
    width: 80%;
    text-align: center;
    display: block;
    position: relative;
}
.profilePic{
    width: 50%;
    border-radius: 1000px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


@media (max-width: 1400px){
    #blok2{
        margin-top: 15%;
    }
    .liamIllustration{
        top: 30%;
    }
    .contacts{
        grid-template-columns: repeat(3, 1fr);
    }
    .blokProfile{
        margin-bottom: 15%;
    }
}
@media (max-width: 950px) {
    #discoverButton{
        display: none;
    }
    #hamburger{
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }
    .linkNav{
        display:none;
    }

    #blok2{
        margin-top: 40%;
    }
    .liamIllustration{
        top: 25%;
        width: 50%;
        left: 45%;
    }
    #anim{
        width: 75%;
    }
    #loader-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        display:flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: 500ms;
    }
    .contacts{
        grid-template-columns: repeat(2, 1fr);
    }
    .blokProfile{
        margin: 15% auto 15% auto;
    }
}
@media (max-width: 850px){
    #blok2{
        margin-top: 55%;
    }
    .liamIllustration{
        top: 55%;
    }
}
@media (max-width: 775px){
    #blok2{
        margin-top: 60%;
    }
    .liamIllustration{
        top: 60%;
    }
}

@media (max-width: 650px) {
    #discoverButton{
        display: none;
    }
    .linkNav{
        display:none;
    }
    nav{
        display: inline-flex;
        width: 100%;
    }
    #navLeft{
        width: 75%;
        display: inline-flex;
    }
    .nameNav{
        margin-left: 30px;
        font-size: 24px;
        font-weight: 500;
    }
    #navRight{
        width: 25%;
    }

    #blok2{
        margin-top: 75%;
    }
    .liamIllustration{
        top: 55%;
        left: 25%
    }
    #anim{
        width: 90%;
    }
    #loader-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        display:flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: 500ms;
    }
    #mainContent{
        text-align: center;
    }
    .pageName{
        font-size: 3em;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
    }
    .category{
        font-size: 1.5em;
        font-weight: 400;
        color: #848484;
    }
    .contacts{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .blokProfile{
        margin: 15% auto 15% auto;
    }
}
@media (max-width: 505px) {
    #discoverButton{
        display: none;
    }
    .linkNav{
        display:none;
    }
    nav{
        display: inline-flex;
        width: 100%;
    }
    #navLeft{
        width: 75%;
        display: inline-flex;
    }
    .nameNav{
        visibility: hidden;
    }
    #navRight{
        width: 25%;
    }

    #anim{
        width: 100%;
    }

    #blok2{
        margin-top: 75%;
    }
    .liamIllustration{
        top: 53%;
        left: 25%
    }
    .pageName{
        font-size: 2em;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
    }
    .category{
        font-size: 1em;
        font-weight: 400;
        color: #848484;
    }
}
@media (max-width: 450px) {
    #discoverButton{
        display: none;
    }
    .linkNav{
        display:none;
    }
    nav{
        display: inline-flex;
        width: 100%;
    }
    #navLeft{
        width: 75%;
        display: inline-flex;
    }
    .nameNav{
        visibility: hidden;
    }
    #navRight{
        width: 25%;
    }

    #blok2{
        margin-top: 75%;
    }
    .liamIllustration{
        top: 53%;
        left: 25%
    }
    .pageName{
        font-size: 2em;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
    }
    .category{
        font-size: 1em;
        font-weight: 400;
        color: #848484;
    }
}
@media (max-width: 400px) {
    #discoverButton{
        display: none;
    }
    .linkNav{
        display:none;
    }
    nav{
        display: inline-flex;
        width: 100%;
    }
    #navLeft{
        width: 75%;
        display: inline-flex;
    }
    .nameNav{
        visibility: hidden;
    }
    #navRight{
        width: 25%;
    }

    #blok2{
        margin-top: 75%;
    }
    .liamIllustration{
        top: 52%;
        left: 25%
    }
    .pageName{
        font-size: 2em;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
    }
    .category{
        font-size: 1em;
        font-weight: 400;
        color: #848484;
    }
}
@media (max-width: 380px){
    #blok2{
        margin-top: 75%;
    }
    .liamIllustration{
        top: 63%;
        left: 25%
    }
}
