/*PRIMA BUTTONS*/

.primaryBigButton {
    background-color: #DA0037;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 65px 20px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.primaryBigButton:hover {
    background-color: #AD002C;
    padding: 20px 65px 20px 65px;
    transition: 200ms;
}
.primaryMediumButton {
    background-color: #DA0037;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.primaryMediumButton:hover {
    background-color: #AD002C;
    padding: 15px 50px 15px 50px;
    transition: 200ms;
}
.primarySmallButton {
    background-color: #DA0037;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 50px 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.primarySmallButton:hover {
    background-color: #AD002C;
    padding: 10px 40px 10px 40px;
    transition: 200ms;
}

/*SECOND BUTTONS*/

.secondaryBigButton {
    border: solid 4px #DA0037;
    border-radius: 10px;
    color: #DA0037;
    padding: 20px 65px 20px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.secondaryBigButton:hover {
    background-color: #DA0037;
    color: white;
    border: solid 4px #DA0037;
    border-radius: 10px;
    padding: 20px 65px 20px 65px;
    transition: 200ms;
}
.secondaryMediumButton {
    border: solid 4px #DA0037;
    border-radius: 10px;
    color: #DA0037;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.secondaryMediumButton:hover {
    background-color: #DA0037;
    color: white;
    border: solid 4px #DA0037;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    transition: 200ms;
}
.secondarySmallButton {
    border: solid 4px #DA0037;
    border-radius: 10px;
    color: #DA0037;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.secondarySmallButton:hover {
    background-color: #DA0037;
    color: white;
    border: solid 4px #DA0037;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    transition: 200ms;
}

/*THIRD BUTTONS*/

.thirdBigButton {
    background-color: #121212;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 65px 20px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdBigButton:hover {
    background-color: #2D2D2D;
    padding: 20px 65px 20px 65px;
    transition: 200ms;
}
.thirdMediumButton {
    background-color: #121212;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdMediumButton:hover {
    background-color: #2D2D2D;
    padding: 15px 50px 15px 50px;
    transition: 200ms;
}
.thirdSmallButton {
    background-color: #121212;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdSmallButton:hover {
    background-color: #2D2D2D;
    padding: 10px 40px 10px 40px;
    transition: 200ms;
}

/*THIRD BUTTONS DARK*/

.thirdBigButtonDark {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 65px 20px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdBigButtonDark:hover {
    background-color: #C1C1C1;
    padding: 20px 65px 20px 65px;
    transition: 200ms;
}
.thirdMediumButtonDark {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdMediumButtonDark:hover {
    background-color: #C1C1C1;
    padding: 15px 50px 15px 50px;
    transition: 200ms;
}
.thirdSmallButtonDark {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdSmallButtonDark:hover {
    background-color: #C1C1C1;
    padding: 10px 40px 10px 40px;
    transition: 200ms;
}