/*PRIMA BUTTONS*/

.primaryBigButton {
    background-color: #DA0037;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 65px 20px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.primaryBigButton:hover {
    background-color: #AD002C;
    padding: 20px 65px 20px 65px;
    transition: 200ms;
}
.primaryMediumButton {
    background-color: #DA0037;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.primaryMediumButton:hover {
    background-color: #AD002C;
    padding: 15px 50px 15px 50px;
    transition: 200ms;
}
.primarySmallButton {
    background-color: #DA0037;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 50px 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.primarySmallButton:hover {
    background-color: #AD002C;
    padding: 10px 40px 10px 40px;
    transition: 200ms;
}

/*SECOND BUTTONS*/

.secondaryBigButton {
    border: solid 4px #DA0037;
    border-radius: 10px;
    color: #DA0037;
    padding: 20px 65px 20px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.secondaryBigButton:hover {
    background-color: #DA0037;
    color: white;
    border: solid 4px #DA0037;
    border-radius: 10px;
    padding: 20px 65px 20px 65px;
    transition: 200ms;
}
.secondaryMediumButton {
    border: solid 4px #DA0037;
    border-radius: 10px;
    color: #DA0037;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.secondaryMediumButton:hover {
    background-color: #DA0037;
    color: white;
    border: solid 4px #DA0037;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    transition: 200ms;
}
.secondarySmallButton {
    border: solid 4px #DA0037;
    border-radius: 10px;
    color: #DA0037;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.secondarySmallButton:hover {
    background-color: #DA0037;
    color: white;
    border: solid 4px #DA0037;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    transition: 200ms;
}

/*THIRD BUTTONS*/

.thirdBigButton {
    background-color: #121212;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 65px 20px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdBigButton:hover {
    background-color: #2D2D2D;
    padding: 20px 65px 20px 65px;
    transition: 200ms;
}
.thirdMediumButton {
    background-color: #121212;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdMediumButton:hover {
    background-color: #2D2D2D;
    padding: 15px 50px 15px 50px;
    transition: 200ms;
}
.thirdSmallButton {
    background-color: #121212;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdSmallButton:hover {
    background-color: #2D2D2D;
    padding: 10px 40px 10px 40px;
    transition: 200ms;
}

/*THIRD BUTTONS DARK*/

.thirdBigButtonDark {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 65px 20px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdBigButtonDark:hover {
    background-color: #C1C1C1;
    padding: 20px 65px 20px 65px;
    transition: 200ms;
}
.thirdMediumButtonDark {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdMediumButtonDark:hover {
    background-color: #C1C1C1;
    padding: 15px 50px 15px 50px;
    transition: 200ms;
}
.thirdSmallButtonDark {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.thirdSmallButtonDark:hover {
    background-color: #C1C1C1;
    padding: 10px 40px 10px 40px;
    transition: 200ms;
}
/*.blockPlace{
    width: 100%;
    height: 350px;
}
.textPlace{
    text-align: center;
    color: white;
    margin-top: 125px;
}*/

.image_wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    filter: grayscale(100%);
    transition: 500ms;
}
.image_wrapper:hover {
    filter: grayscale(0%);
    transition: 250ms;
}

.placeImage {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    transition: 200ms;
    border-radius: 10px;
}

.overlay {
    position: absolute;

    /* center overlay text */
    display: block;
    text-align: center;
    margin-top: 125px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    color: white;
}
.overlay_2 {
    inset: 0;
    transition: 200ms;
}
.overlay_2:hover {
    inset: 0;
    transition: 200ms;
}
.imageName{
    margin-top: -10px;
}
.imageAddress{
    margin-top: 90px;
}

/*FILTR*/
/*FILTR*/
/*FILTR*/

.filterButton{
    margin: 4px;
    background-color: #F1F1F1;
    color: black;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    transition: 200ms;
  }
  
  .filterButton label {
    float: left; line-height: 3.0em;
    width: 10.0em; height: 3.0em;
    transition: 200ms;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  .filterButton label span {
    text-align: center;
    display: block;
    transition: 200ms;
  }
  
  .filterButton label input {
    position: absolute;
    display: none;
    color: black;
    transition: 200ms;
  }
  /* selects all of the text within the input element and changes the color of the text */
  .filterButton label input + span{color: black; transition: 200ms; font-weight: 600; font-family: "Lexend Deca", sans-serif;}
  
  
  /* This will declare how a selected input will look giving generic properties */
  .filterButton input:checked + span {
      color: white;
      background-color: #DA0037;
      transition: 200ms;
  }

