body{
    margin: 10% 0 0 0;
    transition: 1s;
    background-color: white;
    font-family: "Lexend Deca", sans-serif;
    animation: bodySlide 1s ease-in;
    animation-delay: 2s;
}
@keyframes bodySlide {
    0% {margin: 10% 0 0 0;}
    50%{margin: 5% 0 0 0;}
    100% {margin: 0 0 0 0;}
}
#opacityContent{
    opacity: 0;
    transition: 1s;
}
#blok1{
    width: 100%;
}
#blok2{
    width: 100%;
    position: absolute;
}
nav{
    display: inline-flex;
    width: 100%;
}
#navLeft{
    width: 50%;
    display: inline-flex;
}
.nameNav{
    margin-left: 30px;
    font-size: 24px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}
#navRight{
    width: 50%;
}
.link{
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    position: relative;
    float: right;
}
.linkNavG{
    text-decoration: none;
    color: #848484;
    font-size: 20px;
    margin-right: 50px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    transition: 200ms;
}
.linkNavG:hover{
    transition: 200ms;
    color: #212121;
}


#discoverButton{
    display: block;
}
#hamburgerLink{
    display: none;
}
.rightSideText{
    margin-top: 10%;
}
.pageName{
    font-size: 48px;
    font-family: "Lexend Deca", sans-serif;
    width: 50%;
}
.category{
    font-size: 24px;
    font-weight: 400;
    color: #848484;
}
.logo{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#hamburgerMenu{
    text-align: center;
    opacity: 0;
    padding: 50px;
    transition: 500ms;
    display: none;
}
.contentHam{
    width: 100%;
}
.linkHamburger{
    text-decoration: none;
    color: #2D2D2D;
    transition: 200ms;
}
.linkHamburger:hover{
    color: #000000;
    transition: 200ms;
}

/*LOADING*/
/*LOADING*/
/*LOADING*/

#myDiv{
    opacity: 0;
    display: none;
    transition: 500ms;
}
#loader-wrapper-Guide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 500ms;
}
#logo{
    width: 100%;
}
.portImage{
    width: 75%;
    display: block;
}
.loading{
    width: 100%;
}
#animG{
    width: 50%;
    margin: 0 auto;
}

/*OBSAH*/
/*OBSAH*/
/*OBSAH*/

#uvod{
    width: 100%;
    color: black;
}

#popis{
    width: 100%;
    color: black;
    background: white;
}

.obsah{
    margin: 50px;
}


.places{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.guideObsah{
    padding: 0 50px 50px 50px;
}
.funkceObsah{
    padding: 0 50px 0 50px;
    color: black;
    display: block;
}
#filtrNazev{
    font-size: 1.5em;
}
.filters{
    width: 100%;
    display: flex;
}

@media (max-width: 1400px){

}
@media (max-width: 950px) {
    #discoverButton{
        display: none;
    }
    #hamburgerLink{
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }
    .linkNavG{
        display:none;
    }
    .liamIllustration{
        top: 28%;
        width: 50%;
        left: 40%;
    }
    #animG{
        width: 75%;
    }


    .places{
        grid-template-columns: repeat(2, 1fr);
    }
    .guideObsah{
        padding: 0 35px 35px 35px;
    }
    .funkceObsah{
        padding: 0 35px 0 35px;
        color: black;
        display: block;
    }
}
@media (max-width: 850px){
    .liamIllustration{
        top: 35%;
    }
}
@media (max-width: 775px){
    .liamIllustration{
        top: 45%;
    }
    .places{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 650px) {
    #discoverButton{
        display: none;
    }
    #hamburgerLink{
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }
    .linkNavG{
        display:none;
    }
    nav{
        display: inline-flex;
        width: 100%;
    }
    #navLeft{
        width: 75%;
        display: inline-flex;
    }
    .nameNav{
        margin-left: 30px;
        font-size: 24px;
        font-weight: 500;
    }
    #navRight{
        width: 25%;
    }
    .liamIllustration{
        top: 70%;
        left: 25%
    }
    #animG{
        width: 90%;
    }
    #mainContent{
        text-align: center;
    }
    .pageName{
        font-size: 3em;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
    }
    .category{
        font-size: 1.5em;
        font-weight: 400;
        color: #848484;
    }
}
@media (max-width: 505px) {
    #discoverButton{
        display: none;
    }
    #hamburgerLink{
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }
    .linkNavG{
        display:none;
    }
    nav{
        display: inline-flex;
        width: 100%;
    }
    #navLeft{
        width: 75%;
        display: inline-flex;
    }
    .nameNav{
        visibility: hidden;
    }
    #navRight{
        width: 25%;
    }

    #animG{
        width: 100%;
    }
    .liamIllustration{
        top: 47%;
        left: 25%
    }
    .pageName{
        font-size: 2em;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
    }
    .category{
        font-size: 1em;
        font-weight: 400;
        color: #848484;
    }
}
@media (max-width: 450px) {
    #discoverButton{
        display: none;
    }
    #hamburgerLink{
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }
    .linkNavG{
        display:none;
    }
    nav{
        display: inline-flex;
        width: 100%;
    }
    #navLeft{
        width: 75%;
        display: inline-flex;
    }
    .nameNav{
        visibility: hidden;
    }
    #navRight{
        width: 25%;
    }
    .liamIllustration{
        top: 60%;
        left: 25%
    }
    .pageName{
        font-size: 2em;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
    }
    .category{
        font-size: 1em;
        font-weight: 400;
        color: #848484;
    }
    #popis{
        display: block;
    }
}
@media (max-width: 400px) {
    #discoverButton{
        display: none;
    }
    #hamburgerLink{
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }
    .linkNavG{
        display:none;
    }
    nav{
        display: inline-flex;
        width: 100%;
    }
    #navLeft{
        width: 75%;
        display: inline-flex;
    }
    .nameNav{
        display: none;
    }
    #navRight{
        width: 25%;
    }
    .pageName{
        font-size: 2em;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
    }
    .category{
        font-size: 1em;
        font-weight: 400;
        color: #848484;
    }

    #uvod{
        width: 100%;
        color: black;
        position: relative;
        display: block;
    }

    #popis{
        display: block;
    }
}
@media (max-width: 380px){
    .liamIllustration{
        top: 75%;
        left: 25%
    }
}
